:root {
    --blau: #0b5ed7;
    --blau-clar: #e7f0ff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

header, footer {
    background-color: var(--blau);
    color: white;
    text-align: center;
    padding: 1.2rem;
}

main {
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: separate2;
    background-color: white;
    border-radius: 10px;

}

thead {
    background-color: var(--blau);
    color: white;
    border-radius: 10px;
}

th {
    padding: 0.75rem;
    border: 0px solid var(--blau);
    vertical-align: top;
    border-radius: 10px;
}

td {
    padding: 0.75rem;
    border: 0px solid var(--blau);
    vertical-align: top;
    border-radius: 10px;
}

ul {
    padding-left: 1.2rem;
    margin: 0;
}

.nav-header {
    color: #ffffff;
    text-decoration: none;
}